.headerWrap {
    height: 70px;
    background-color: #242f42;
    color: #fff;
    font-size: 22px;

    .leftWrap {
        margin-left: 30px;
    }
    .rightwrap {
        margin-right: 50px;
        cursor: pointer;
    }
    .imgblock {
        width: 30px;
        height: 30px;
    }
}


.silderWrap {
    height: calc(100vh - 70px);
    background: #324157;

    transition: width 0.2s linear;
    padding-bottom: 30px;
    width: 200px;

    &.with80 {
        width: 80px;
    }

    .iconArrow {
        width: 100%;
        height: 30px;
        left: 0;
        bottom: 0;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        background: #242f42;
    }

    
        :global {
            .ant-menu-dark, .ant-menu-sub, .ant-menu-item-selected {
                background: transparent !important;
            }

            .ant-menu-item-selected {
                color: #20a0ff;
            }
             
         }
    
    
}


.tagWrap {
    height: 30px;
    box-shadow: 0 5px 10px #dddddd4d;
    padding: 0 5px;
    font-size: 12px;
    position: relative;
    z-index: 4;
    user-select: none;

    .tagActive {
        color: #fff;
        background: #409eff;

        :global {
            .ant-tag-close-icon {
                color: #fff;
            }
        }
    }
}

.Content {
    height: calc(100% - 30px);
    overflow-y: auto;
}